.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    background-image: url(assets/indexwp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 100px;
    color: whitesmoke;
}

.banner {
    
}

.subtitle {
    font-size: 75px;
    color: whitesmoke;
}

.catBtn {
}

/*main-page*/

